.max-w-screen-md {
    max-width: 768px;
}

.border-b {
    border-bottom-width: 1px;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
